[submodule "anime-vault"]
    path = anime-vault
    url = https://github.com/just-chris/next-js/anime-vault.git
[submodule "crud-app"]
    path = crud-app
    url = https://github.com/just-chris/next-js/crud-app.git
[submodule "postgresql-db"]
    path = postgresql-db
    url = https://github.com/just-chris/next-js/postgresql-db.git
[submodule "dashboard-ui"]
    path = dashboard-ui
    url = https://github.com/just-chris/next-js/dashboard-ui.git
[submodule "just-goldwing-portfolio"]
    path = just-goldwing-portfolio
    url = https://github.com/just-chris/next-js/just-goldwing-portfolio.git
